<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/konfiguracija">Nazad</ion-button>
    </ion-buttons>
    <ion-title>{{tech.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-refresher (ionRefresh)="getBusLines(searchTermValue, 10, $event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col [formGroup]="searchBarForm" size-xs="12" size-md="6" offset-md="3">
        <ion-searchbar formControlName="searchTerm" placeholder="Pretraži" (ionClear)="getBusLines('', 10)"></ion-searchbar>
      </ion-col>
      <ion-col size-md="6" offset-md="3">
        <ion-list *ngIf="busLines.length; else noBusLinesTemplate">
          <ion-card class="bus-line" *ngFor="let line of busLines">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <ion-icon class="bus-line-icon" color="primary" size="large" name="repeat-sharp"></ion-icon>
                  <ion-avatar class="bus-line-country">
                    <img [src]=" line.lineCountryStart === 'bih' ? bihImage : deImage">
                  </ion-avatar>
                </ion-col>
                <ion-col size="10">
                  <ion-label class="bus-line-title">{{ line.lineCityStart }} <ion-icon name="arrow-forward-sharp"></ion-icon> {{ line.lineCityEnd }}</ion-label>
                  <ion-icon class="bus-line-edit" (click)="presentActionSheet(line._id)" size="large" name="ellipsis-horizontal-sharp"></ion-icon>
                  <ion-label class="bus-line-price">Cijena: {{line.linePriceOneWay}} <ion-icon name="logo-euro"></ion-icon></ion-label>
                  <ion-label class="bus-line-price">Povratna: {{line.linePriceRoundTrip}} <ion-icon name="logo-euro"></ion-icon></ion-label>
                  <ion-label class="bus-line-days">Dani: {{optionsStart[line.lineStartDay1].text}}, {{optionsStart[line.lineStartDay2].text}}</ion-label>
                  <ion-text class="bus-line-time">
                    <ion-icon name="time-sharp"></ion-icon>
                    <ion-label>{{line.lineStartTime | date:"HH:mm" }}</ion-label>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll *ngIf="busLinesCount > searchLimit" threshold="40px" (ionInfinite)="getMoreBusLines()">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Učitavanje rezultata...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ng-template #noBusLinesTemplate>
    <ion-label color="primary" class="no-lines-template" size="large">Nema sačuvanih linija. Klikom na <ion-icon name="add-circle-outline"></ion-icon> dodajte novu.</ion-label>
  </ng-template>
  <ion-fab class="add-icon" vertical="end" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createLine()">
      <ion-icon color="light" size="large" name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
