<ion-content>
  <ion-grid class="filter-container">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-row>
          <ion-col size="12">
            <ion-searchbar padding="0" placeholder="Pretraga" animated></ion-searchbar>
          </ion-col>
          <ion-col size="12" class="ion-padding">
            <ion-segment (ionChange)="segmentChanged($event)" value="javascript">
              <ion-segment-button value="summer">
                <ion-label>Ljetne</ion-label>
              </ion-segment-button>
              <ion-segment-button value="winter">
                <ion-label>Zimske</ion-label>
              </ion-segment-button>
              <ion-segment-button value="all_season">
                <ion-label>All Season</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
          <ion-col size="4">
            <ion-label class="ion-padding">Širina</ion-label>
            <ion-item>
              <ion-select value="195" okText="Potvrdi" cancelText="Otkaži">
                <ion-select-option value="195">195</ion-select-option>
                <ion-select-option value="205">205</ion-select-option>
                <ion-select-option value="215">215</ion-select-option>
                <ion-select-option value="225">225</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-label class="ion-padding">Visina</ion-label>
            <ion-item padding="0">
              <ion-select value="55" okText="Potvrdi" cancelText="Otkaži">
                <ion-select-option value="55">55</ion-select-option>
                <ion-select-option value="60">60</ion-select-option>
                <ion-select-option value="65">65</ion-select-option>
                <ion-select-option value="45">45</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-label class="ion-padding">Promjer</ion-label>
            <ion-item padding="0">
              <ion-select value="15" okText="Potvrdi" cancelText="Otkaži">
                <ion-select-option value="14">14</ion-select-option>
                <ion-select-option value="15">15</ion-select-option>
                <ion-select-option value="16">16</ion-select-option>
                <ion-select-option value="17">17</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
